<ion-view view-title="{{game | gameFormat}}">
  <ion-pane class="messaging-view">
    <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">

      <div ng-repeat="comment in comments"
           ng-class="{other: comment.userId != myId}"
           class="comments">

        <div class="comment">
          <img class="comment-avatar" ng-src="{{getUserAvatar(comment)}}"/>
          <span class="comment-span" ng-style="{'background': getUserColor(comment)}">{{ comment.comment }}</span>
          <div class="actions">
            <button ng-click="upvoteComment(comment)" ng-class="isUpvoted(comment)" class="button button-stable vote-button"><icon class="ion-chevron-up"></button>
              <p class="tally">{{comment.upvotes - comment.downvotes}}</p>
            <button ng-click="downvoteComment(comment)" ng-class="isDownvoted(comment)" class="button button-stable vote-button"><icon class="ion-chevron-down"></button>
          </div>
        </div>

<!--         <div class="time">{{comment.created_at | timeFormat}}</div>
        <button ng-click="flagComment(comment)" ng-class="isFlagged(comment)" class="button button-stable vote-button"><icon class="ion-flag"></button> -->
      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your comment" on-return="sendComment(); closeKeyboard()" ng-model="data.comment" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendComment()">
        Send
      </button>
    </ion-footer-bar>
  </ion-pane>
</ion-view>
